* {
    transition: all 0.4s linear;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

h1 {
    color: purple;
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
}



a{
    text-decoration: none;
    color: darkcyan;
}

p{
    font-size: 18px;
    line-height: 24px;
    background: slategray;
    padding: 16px;
    border-radius: 20px;
    margin: 40px;
    border: 3px solid mediumseagreen
}

p:hover {
    background: lightslategray;
}

span{
    display: block;
}

.header{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background: url('img/niebo.jpg');
  
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}



.square {
    width: 50%;
    height: 100px;
    background: tomato;
}
.centered {
    text-align: center;
}

.cover{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

.cover:hover{
    border-radius: 0;
}
.circle {
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: grey;
    border-radius: 50%;
}

@media (max-width: 600px) {
    body{
        background: thistle;
    }
}